.banners-wrap {
  margin-bottom: 42px;
}

.banners {
  &__list {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;

    color: $dark-500;
  }

  &__item {
    padding: 76px 32px 84px;
    margin-left: 30px;
    margin-bottom: 30px;

    flex: 0 1 25%;

    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;

    &:first-child {
      flex: 1 0 630px;
      
      p {
        max-width: 346px;
      }
    }
  }

  &--white {
    color: $white;
  }

  &__news {
    max-width: 346px;

    letter-spacing: normal;
  }

	&__title {
    margin-bottom: 18px;

    font-size: 12px;
    letter-spacing: 0.1em;
  }

  &__text {
    max-width: 160px;
    margin-bottom: 12px;

    font-family: 'Ruda';
    font-weight: 600;
    line-height: 1.4;
    font-size: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  }

  &__link {
    padding-bottom: 6px;
    
    border-bottom: 2px solid;
  }
}
