@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('../fonts/#{$url}.woff2') format("woff2"),
        url('../fonts/#{$url}.woff') format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
};

@include font-face (OpenSans, open-300, 300);
@include font-face(OpenSans, open-regular, 400);
@include font-face(OpenSans, open-600, 600);
@include font-face(OpenSans, open-700, 700);
@include font-face(Ruda, ruda-regular, 700);
@include font-face(Ruda, ruda-600, 600);
@include font-face(Ruda, ruda-700, 700);
@include font-face(Ruda, ruda-900, 900);












