.footer {
  background-color: $dark-800;
  color: $white;

  &__top {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: 18px;

    line-height: 1;
  }

  &__form {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }

  &__form-item {
    border-radius: 6px 0 0 6px;  
    background-color: $white;  
  }

  &__input {
    padding: 11px 11px;
    outline: transparent;
  }

  &__input::placeholder {
    color: #4F4F4F;;
  }

  &__btn {
    padding: 13px 16px;

    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;

    border-radius: 0 6px 6px 0;  
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: 18px 75px;
   
  }

  &__address,
  &__phone {
    display: block;
    margin-bottom: 18px;
  }

  &__bottom {
    padding: 24px 0;
  }

  &__copyright {
    text-transform: uppercase;
  }

  &__accept {
    display: flex;
    align-items: center;
  }

  &__accept-item:not(:last-child) {
    margin-right: 24px;
  }

  &__img {
    display: block;
  }

  &__img--visa:before,
  &__img--master:before {
    content: '';
    display: block;
    height: 29px;
    background-color: $white;
  }

  &__img--visa:before {
    width: 93px;
    mask: url('../images/sprite.svg#visa') center / cover no-repeat;
  }

  &__img--master:before {
    width: 49px;
    mask: url('../images/sprite.svg#mastercard') center / cover no-repeat;
  }
}

.socials {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 12px;
  }

  &__link {
    display: block;
  }

  &__link--face::before,
  &__link--you::before,
  &__link--tel::before,
  &__link--inst::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;

    background-color: $white;
  }

  &__link--face::before {
    mask: url('../images/sprite.svg#facebook') center / cover no-repeat;
  }

  &__link--you::before {
    mask: url('../images/sprite.svg#youtube') center / cover no-repeat;
  }

  &__link--tel::before {
    mask: url('../images/sprite.svg#telegram') center / cover no-repeat;
  }

  &__link--inst::before {
    mask: url('../images/sprite.svg#instagram') center / cover no-repeat;
  }

  &__link:active::before {
    background-color: $green-100;
    box-shadow: none;
  }
}