.footer {
  background-color: $dark-800;
  color: $white;
  letter-spacing: normal;

  &__top {
    padding: 34px 0 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__bottom {
    padding: 24px 0 21px;
  }
}

.footer-top {
  &__logo {
    display: block;
    margin-bottom: 28px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__letter {
    max-width: 306px;
    width: 100%;
    margin-right: 70px;
  }

  &__text {
    margin-bottom: 16px;

    line-height: 1;
  }

  &__form {
    background-color: $white; 

    .form {
      &__input {
        padding: 0 11px;
  
        outline: transparent;

        &::placeholder {
          color: #4F4F4F;;
        }
      }
  
      &__btn {
        padding: 13px 16px;
  
        font-size: 12px;
        line-height: 1.3;
        text-transform: uppercase;
  
        background-color: $green-900;
        border-radius: 0 6px 6px 0; 

        &:hover {
          background-color: #4D810C;
        }
    
        &:active {
          background-color: $green-900;
        }
      }
    } 
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: 18px 75px;
  }
}

.contacts-footer {
  &__list {
    margin-bottom: 18px;

    font-style: normal;
  }
  
  &__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.footer-bottom {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__copyright {
    text-transform: uppercase;
  }

  &__accept {
    display: flex;
    align-items: center;
  }

  &__accept-item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}