html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  font-style: normal;
  letter-spacing: 0.03em;
  color: $dark-900;

  background-color: $white;

  transition: background-color 0.3s linear
}

.bg-gray {
  background-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container  {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrap {
  padding: 72px 0;

  @include media-2 {
    padding: 48px 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 12px 24px;
  display: inline-block;

  font-size: 18px;
  line-height: 1.3;
  color: $white;
  letter-spacing: 0.03em;

  outline: transparent;
  background-color: $green-900;
  border: 0;
  border-radius: 6px;

  transition: opacity 0.3s linear,
              color 0.3s linear,
              background-color 0.3s linear;

  &:focus {
    box-shadow: 0 0 0 4px $green-100;
  }
  
  &:hover {
    background-color: #4D810C;
  }
  
  &:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
    background-color: $green-900;
    box-shadow: outset none;
  }

  &--white {
    color: $green-900;
    background-color: $white;
    border: 1px solid $green-900;

    &:focus {
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: none;
      color: rgba(99, 166, 14, 0.5);
      background-color: transparent;
    }
  }
}

.logo {
  max-width: 200px;
  width: 100%;

  &__img {
    object-fit: cover;
    object-position: top;

    &--short {
      display: none;
    }
  }
}

.burger {
  position: relative;
  display: none;

  width: 30px;
  height: 22px;
  margin-left: 7px;

  &__item {
    display: block;
    height: 2px;

    background-color: $white;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;

      background-color: $white;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  @include media-2 {
    display: block;
  }
}

.title {
  margin-bottom: 30px;

  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;

  @include media-3 {
    margin-bottom: 24px;

    font-size: 24px;
  }
}

.form {
  display: flex;
  align-items: center;
    
  background-color: $white;
  border-radius: 6px;

  &__input {
    width: 100%;
    padding-right: 10px;

    letter-spacing: 0.03em;
    color: $dark-800;

    outline: transparent;
  }

  &__btn {
    padding: 15px 52px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $white;

    outline: transparent;
    border: 0;

    background-color: $dark-800;
    border-radius: 0 6px 6px 0;

    transition: opacity 0.3s linear,
                color 0.3s linear,
                background-color 0.3s linear;

    &:focus {
      box-shadow: 0 0 0 4px $green-100;
    }
  
    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }
  
    &:active {
      color: rgba(255, 255, 255, 0.5);
      box-shadow: none;
      background-color: $dark-800;
    }
  }
}

.filter-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    margin: 0 12px;
    
    @include media-3 {
        margin-bottom: 11px;
    }
  }

  &__btn {
    font-size: 15px;

    font-weight: 700;
    letter-spacing: 0.03em;
    color: $dark-500;
    text-transform: uppercase;

    border-bottom: 3px solid transparent;
    outline: transparent;
    transition: color 0.3s linear;

    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
      border-radius: 3px;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      border-bottom: 3px solid $green-100;
      box-shadow: none;
    }

    &--active {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);;
    }
  }

  @include media-3 {
    flex-wrap: wrap;
  }
}

.product-card {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: 57px;
  height: 100%;

  background: $white;
  border: 1px solid rgba(17, 17, 17, 0.2);
  box-sizing: border-box;
  border-radius: 6px;

  transition: border 0.3s linear;
  
  &:hover {
    border-color: $green-900;
  }

  &__favorite {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    outline: transparent;

    @include media-3 {
      width: 32px;
      height: 32px;
    }

    &::before {
      background-color: $yellow-900;
      opacity: 0.5;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 32px;
      height: 29px;

      mask: url('../images/sprite.svg#favorite') center / cover no-repeat;
      background-color: $silver-600;

      transition: background-color 0.3s linear,
                  opacity 0.3s linear;

      @include media-3 {
        width: 24px;
        height: 21px;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
      border-radius: 3px;
    }

    &:hover {
      &::before {
        background-color: $yellow-900;
      }
    }
    
    &:active {
      box-shadow: none;
    }

    &:active {
      &::before {
        background-color: $yellow-900;
        opacity: 0.5;
      }
    }
  }

  &__images {
    position: relative;
    width: 100%;
    padding-bottom: 72.15%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  &__img-link {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.1);

    transition: opacity 0.3s linear;

    &::before {
      content: '';
  
      z-index: 2;
      width: 20px;
      height: 20px;
      mask: url('../images/sprite.svg#search') center / cover no-repeat;
      background-color: $green-900;
    }

    &::after {
      content: '';
  
      position: absolute;
      z-index: 1;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50%;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 18px;

    @include media-3 {
      padding: 12px;
    }
  }

  &__title {
    flex-grow: 1;
    margin-bottom: 10px;
    
    font-weight: 600;
    @include line-clamp(3);

    @include media-4 {
      margin-bottom: 48px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__prices {
    display: flex;
    flex-direction: column;

    line-height: 1;
  }

  &__old-price {
    display: none;
  }

  &__old-price {
    position: relative;

    margin-bottom: 3px;

    color: $silver-600;

    &::before {
      content: '';
  
      position: absolute;
      top: 6px;
      left: 0;
      
      width: 100%;
      height: 1px;
      background-color: $silver-600;
  
      transform: rotate(-15deg);
    }
  }

  &__price {
    color: $dark-500;

    &--on {
      display: block;
    }
  }

  &__btn {
    padding: 8px;
    border-radius: 3px;

    &::before {
      content: '';
  
      display: block;
      width: 16px;
      height: 16px;
      mask: url('../images/sprite.svg#cart') center / cover no-repeat;
      background-color: $white;
    }
  }
}

.badges {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__item {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__item {
    display: none;
    padding: 3px 6px;
  
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
  
    border-radius: 6px;
  
    &--on {
      display: inline-block;
    }

    &--new {
      background-color: $green-900;
    }
  
    &--sale {
      background-color: $red-900;
    }
  
    &--top {
      background-color: $orange-900;
    }
  }
}

.product-card-min {
  display: flex;
  flex-direction: row;
  padding: 12px 12px 11px 12px;

  .product-card {
    
    &__images {
      max-width: 100px;
      padding-bottom: 36.51%;
    }
  
    &__descr {
      padding: 0 0 0 12px;
    }

    &__title {
      margin-bottom: 5px;
    }

    &__stock {
      margin-bottom: 5px;
    }

    &__stock-item {
      font-size: 10px;
      line-height: 1;
      font-weight: 600;
      text-transform: uppercase;
      display: block;

      &--instore {
        color: $green-900;
      }

      &--ended {
        color: $red-900;
      }

      &--no {
        color: $silver-600;
      }
    }

    &__prices {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      flex-shrink: 0;
      
      margin-right: 5px;
    }

    &__price {
      margin-right: 12px;
      
      font-weight: 600;
      font-size: 20px;

      span {
        font-size: 14px;
      }
    }

    &__old-price {
      margin-bottom: 0;

      font-size: 12px;
    }

    &__star {
      display: flex;
      font-weight: 700;
      font-size: 14px;
      color: $dark-500;

      &::after {
        content: '';

        margin-left: 2px;
        margin-right: 2px;
        
        display: block;
        width: 16px;
        height: 16px;

        mask: url('../images/sprite.svg#star') center / cover no-repeat;
        background-color: $yellow-900;
      }
    }
  }
  @include media-4 {
    padding-bottom: 10px;
  }
}

.socials {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    display: block;
    outline: transparent;
    transition: opacity 0.3s linear;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      box-shadow: none;
      &::before {
        background-color: $green-100;
        box-shadow: none;
      }
    }

    &::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;

    background-color: $white;

    transition: background-color 0.3s linear;
    }
    
    &--face {
      &::before {
        mask: url('../images/sprite.svg#facebook') center / cover no-repeat;
      }
    }
  
    &--you {
      &::before {
        mask: url('../images/sprite.svg#youtube') center / cover no-repeat;
      }
    }
  
    &--tel {
      &::before {
        mask: url('../images/sprite.svg#telegram') center / cover no-repeat;
      }
    }
  
    &--inst {
      &::before {
        mask: url('../images/sprite.svg#instagram') center / cover no-repeat;
      }
    }
  }
}

.btn-close {
  position: relative;

  &__item {
    width: 24px;
    height: 24px;
    display: block;

    &::before,
    &::after {
      content: '';
      top: 50%;
      right: 0;
      position: absolute;

      width: 100%;
      height: 2px;
      background-color: $dark-800;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--gray {
    .btn-close {
      &__item {
        &::before,
        &::after {
          background-color: $silver-600;
       }
      }
    }
  }
}

.counter-btn {
  .jq-number {
    &__field {
      width: 36px;
      height: 24px;

      font-family: 'OpenSans', sans-serif;
      font-size: 16px;

      border: none;
      background-color: rgba(99, 166, 14, 0.1);;
      border-radius: 0;
      box-shadow: none;

      input {
        text-align: center;
        padding: 0 4px;
        font: inherit;
        line-height: 1;
        color: $dark-500;
      }
    }

    &__spin {
      &.minus,
      &.plus {
        position: absolute;
        top: 0;
        width: 24px;
        height: 24px;

        border: none;
        border-radius: 0;
        background: none;
        background-color: $green-900;
        box-shadow: none;
        text-shadow: none;
        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        top: 11px;
        left: 4px;
        width: 16px;
        height: 1px;

        background-color: $white;
        border: none;
      }
    }
      
    &__spin {
      &.minus {
        left: -24px;

        border-radius: 3px 0 0 3px;
      }
    }
    
    &__spin {
      &.plus {
        right: 12px;

        border-radius: 0 3px 3px 0;

        &:before {
          content: "";
          position: absolute;
          top: 4px;
          left: 11px;
          width: 1px;
          height: 16px;

          background-color: $white;
        }
      }
    } 
  }
}