.header {

  &__top {
    padding: 14px 0;

    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    
    color: $white;
    background-color: $dark-800;
  }

  &__bottom {
    padding: 25px 0;

    background-color: $green-900;
  }
}

.header-top {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__list {
    display: flex;
    align-items: flex-end;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    display: flex;
    align-items: flex-end;

    outline: transparent;
    transition: opacity 0.3s linear,
                color 0.3s linear;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }
  
    &:hover {
      opacity: 0.7;
    }
  
    &:active {
      color: $green-100;
      box-shadow: none;
      opacity: 1;
    }

    &--address,
    &--tel {

      &::before {
        content: '';
      height: 22px;
      margin-right: 12px;

      background-color: $white;

      transition: background 0.3s linear;
      }

      &:active::before {
        background-color: $green-100;
      }
    }

    &--address {
      margin-right: 24px;
  
      &::before {
        width: 32px;
      
        mask: url('../images/sprite.svg#del-address') center / cover no-repeat ;
      }
    }
  
    &--tel {
  
      &::before {
        width: 22px;
  
        mask: url('../images/sprite.svg#tel') center / cover no-repeat ;
      }
    }
  }
}

.header-bottom {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 24px;
  }

  &__catalog {
    margin-right: 30px;
  }

  &__form {
    margin-right: 45px;
    max-width: 576px;
    width: 100%;

    &::before {
      content: '';
      flex-shrink: 0;
      margin-left: 12px;
      width: 20px;
      height: 20px;
      margin-right: 18px;

      mask: url('../images/sprite.svg#search') center / cover no-repeat;
      background-color: $dark-800;
    }
  }
}

.catalog {
  &__btn {
    display: flex; 
    justify-content: space-between;
    align-items: center;

    max-width: 240px;
    width: 100%;
    padding: 15px 18px;
    letter-spacing: 0.03em;

    font-weight: 600;
    color: $green-900;
    
    outline: transparent;
    background-color: $white;
    border-radius: 6px;

    transition: background 0.3s linear;

    &::before,
    &::after {
      content: '';

      background-color: $green-900;
    }

    &::before {
      margin-right: 18px;
      width: 25px;
      height: 17px;

      mask: url('../images/sprite.svg#burger') center / cover no-repeat;
    }

    &::after {
      margin-left: 12px;
      width: 7px;
      height: 4px;
  
      mask: url('../images/sprite.svg#arrow-bottom') center / cover no-repeat;
    }

    &:hover {
      background-color: $green-100;
    }
  }

  &__list {
    display: none;
  }
}

.user-nav {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    position: relative;

    display: block;
    width: 50px;
    height: 50px;

    line-height: 50px;

    outline: transparent;
    transition: opacity 0.3s linear,
                color 0.3s linear,
                background 0.3s linear;

    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.1);
      opacity: 0.5;
      border-radius: 3px;
      box-shadow: none;
    }

    &::before {
      content: '';

      display: inline-block;
      width: 100%;
      vertical-align: middle;
  
      background-color: $white;
    }
    
    &--user {
      &::before {
        height: 32px;

        mask: url('../images/sprite.svg#user') center / contain no-repeat;
      } 
    }

    &--favorite {
      &::before {
        height: 28px;

        mask: url('../images/sprite.svg#favorite') center / contain no-repeat
      }
    }

    &--cart {
      &::before {
        height: 31px;

        mask: url('../images/sprite.svg#cart') center / contain no-repeat
      }
    }
  }

  &__num {
    position: absolute;
    top: 5px;
    left: 4px;

    display: block;
    min-width: 18px;
    height: 18px;

    font-weight: 600;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    color: $red-900;

    background-color: $white;
    border-radius: 9px;
  }
}


