.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 5;

  &__top {
    padding: 14px 0;

    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    
    color: $white;
    background-color: $dark-800;
  }

  &__bottom {
    padding: 25px 0;

    background-color: $green-900;

    @include media-3 {
      padding: 9px 0;
    }
  }
}

.header-top {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__list {
    display: flex;
    align-items: flex-end;
  
    &--hidden {
      @include media-2 {
        display: none;
      }
    }
  }

  &__item {
    @include media-4 {
      font-size: 0;
    }

    &:not(:last-child) {
      margin-right: 24px;

      @include media-4 {
        margin-right: 21px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: flex-end;

    outline: transparent;
    transition: opacity 0.3s linear,
                color 0.3s linear;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }
  
    &:hover {
      opacity: 0.7;
    }
  
    &:active {
      color: $green-100;
      box-shadow: none;
      opacity: 1;
    }

    &--address,
    &--tel {
      &::before {
        content: '';
        height: 22px;
        margin-right: 12px;

        background-color: $white;

        transition: background 0.3s linear;

        @include media-4 {
          margin-right: 0;
        }
      }

      &:active {
        &::before {
          background-color: $green-100;
        }
      }
    }

    &--address {
      margin-right: 24px;

      @include media-4 {
        margin-right: 0;
      }

      &::before {
        width: 32px;
      
        mask: url('../images/sprite.svg#del-address') center / cover no-repeat ;
      }
    }
  
    &--tel {
      @include media-4 {
        margin-right: -4px;
      }

      &::before {
        width: 22px;
  
        mask: url('../images/sprite.svg#tel') center / cover no-repeat ;
      }
    }
  }

  &__burger {
    order: -1;
  }
}

.header-bottom {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 24px;

    @include media-1 {
      max-width: 40px;
    }

    .logo {
      &__img {
        @include media-1 {
          display: none;

          &--short {
            display: block;
          }
        }
      }
    }
  }

  &__catalog {
    margin-right: 30px;
  }

  &__form {
    margin-right: 44px;
    max-width: 576px;
    width: 100%;

    @include media-3 {
      margin-right: 0;
    }

    @include media-4 {
      position: absolute;
      top: 112px;
      right: 0;
      left: 0;
    
      border: 1px solid $dark-800;
      border-radius: 0;

      transform: translateX(-150%);
      transition: transform 0.3s linear;

      &--active {
        transform: translateX(0);
      }

      .form {
        &__input {
          display: none;

          &--mob {
            display: block;
          }
        }

        &__btn {
          padding: 14px 26px;
    
          border-radius: 0;
        }
      }
    }

    &--mob {
      display: none;
    }

    &::before {
      content: '';
      flex-shrink: 0;
      margin-left: 12px;
      width: 20px;
      height: 20px;
      margin-right: 18px;

      mask: url('../images/sprite.svg#search') center / cover no-repeat;
      background-color: $dark-800;
    }
  }
}

.header-catalog {
  position: relative;

  white-space: nowrap;

  @include media-2 {
    display: none;
  }

  &__btn {
    display: flex; 
    justify-content: space-between;
    align-items: center;

    padding: 15px 18px;
    letter-spacing: 0.03em;

    font-weight: 600;
    color: $green-900;
    
    outline: transparent;
    background-color: $white;
    border-radius: 6px;

    transition: background 0.3s linear;

    &::before,
    &::after {
      content: '';

      background-color: $green-900;
    }

    &::before {
      margin-right: 18px;
      width: 25px;
      height: 17px;

      mask: url('../images/sprite.svg#burger') center / cover no-repeat;
    }

    &::after {
      margin-left: 12px;
      width: 7px;
      height: 4px;
  
      mask: url('../images/sprite.svg#arrow-bottom') center / cover no-repeat;

      transition: transfor, 0.5s linear;
    }

    &--up {
      &::after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: $green-100;
    }
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 0;

    width: 100%;

    font-size: 16px;
    line-height: 1.2;
    color: #000;

    background-color: $white;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 2px 2px $silver-600;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid  rgba(193, 193, 193, 0.3);
    }
  }

  &__link {
    display: block;
    padding: 12px 24px;

    border: 3px solid transparent;
    outline: transparent;
    transition: color 0.3s linear,
                opacity 0.3s linear;

    &:focus {
      box-shadow: 0 0 0 3px $green-100;
    }

    &:hover {
      color: $green-900;
      border-left: 3px solid $green-900;
      box-shadow: none;
    }

    &:active {
      color: $silver-600;
      opacity: 0.3;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;

      @include media-4 {
        margin-right: 0;
      }
    }

    &--hidden {
      display: none;

      @include media-4 {
        display: block;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    outline: transparent;
    transition: opacity 0.3s linear,
                color 0.3s linear,
                background-color 0.3s linear;

    @include media-4 {
      width: 44px;
      height: 44px;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.1);
      opacity: 0.5;
      border-radius: 3px;
      box-shadow: none;
    }

    &::before {
      content: '';
      display: inline-block;
  
      background-color: $white;
    }
    
    &--user {
      @include media-3 {
        display: none;
      }

      &::before {
        width: 25px;
        height: 32px;

        mask: url('../images/sprite.svg#user') center / cover no-repeat;
      } 
    }

    &--favorite {
      @include media-3 {
        display: none;
      }

      &::before {
        width: 32px;
        height: 28px;

        mask: url('../images/sprite.svg#favorite') center / cover no-repeat
      }
    }

    &--search {
      margin-right: 5px;
      &::before {
        width: 24px;
        height: 24px;

        mask: url('../images/sprite.svg#search') center / cover no-repeat;
      }
    }

    &--cart {
      &::before {
        width: 32px;
        height: 31px;

        mask: url('../images/sprite.svg#cart') center / cover no-repeat;

        @include media-4 {
          width: 24px;
          height: 23px;
        }
      }
    }
  }

  &__num {
    position: absolute;
    top: 4px;
    right: 29px;
    padding: 2px;

    display: block;
    min-width: 18px;

    font-weight: 600;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
    color: $red-900;

    background-color: $white;
    border-radius: 9px;

    @include media-4 {
      right: 25px;
    }
  }
}

.cart-box {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  max-width: 475px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  transform: translateX(100%);

  transition: transform 0.3s linear;

  @include media-4 {
    height: calc(100vh - 112px);
    top: 112px;
  }

  &--visible {
    transform: translateX(0);
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 19px 24px 12px 24px;

    background-color: $white;
  }

  &__top-item {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    color: #000;
  }

  &__item-title {
    margin-bottom: 12px;

    font-size: 24px;

    @include media-3 {
      font-size: 18px;
    }
  }

  &__item-btn {
    font-weight: 300;
  }

  &__body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 12px;
    overflow-y: scroll;

    background-color: $silver-100;
  }
  
  &__body-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__product-card {
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 10px;

    border-radius: 3px;

    @include media-4 {
      flex-wrap: wrap;
      padding: 15px;
    }

    .product-card {
      &__images {
        max-width: 60px;
        padding-bottom: 14.57%;
      }

      &__btn-close {
          position: absolute;
          top: 12px;
          right: 12px;
      }

      &__descr {
        padding: 0 0 0 32px;
      }

      &__title {
        max-width: 170px;
        margin-bottom: 0;

        @include line-clamp(2);
      }

      &__bottom {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;

        font-weight: 600;
        font-size: 20px;
        line-height: 1;
      }
    
      &__counter {
        display: flex;
        align-self: flex-end;
        align-items: center;
        padding-left: 22px;


        font-weight: 600;
        font-size: 20px;
        line-height: 1;
        color: $dark-500;

        @include media-4 {
          width: 100%;
          justify-content: space-between;
          margin-top: 18px;
        }
      }
      
      &__value {
        font-size: 16px;
      }
    }

    .btn-close {
      &__item {
        width: 12px;
        height: 12px;

        &::before,
        &::after {
          height: 1px;
        }
      }
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    padding: 24px;

    font-size: 24px;

    background-color: $white;
  }

  &__price-text {
    line-height: 1.2;
    color: #000;

    @include media-3 {
      font-size: 14px;
    }
  }

  &__price-num {
    font-weight: 600;
    line-height: 1;
    color: $dark-500;

    @include media-3 {
      font-size: 18px;
    }
  }

  &__price-value {
    font-size: 18px;
  }

  &__bottom-btn {
    display: block;
    width: 100%;
    padding: 23px;
    border-radius: 0;
  }
}

.mob-menu {
  display: none;
  position: absolute;
  z-index: 7;
  top: 0;
  left: 0;
  
  max-width: 300px;
  width: 100%;
  height: 100vh;

  font-size: 18px;
  color: $dark-800;
  text-transform: none;
  font-weight: normal;
  line-height: 1.2;
  overflow-y: auto;

  background-color: $white;

  &__header {
    display: flex;
    justify-content: space-between;

    padding: 26px 26px 26px 15px;
  }

  &__btn-close {
    .btn-close {
      &__item {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__user-links {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 9px 15px 7px;

    line-height: 1;
    color: $white;

    background-color: $green-900;
  }

  &__user-link {
    &:not(:last-child) {
      margin-right: 14px;
    }

    &:last-child {
      padding-left: 10px;
      border-left: 1px solid $white;
    } 
    &--user {
      display: flex;
      align-items: center;
      
      &::before {
        content: '';
        width: 25px;
        height: 32px;
        margin-right: 15px;
  
        mask: url('../images/sprite.svg#user') center / cover no-repeat;
        background-color: #fff;
      }
    }
  }

  &__catalog {
    display: flex;
    align-items: center;

    padding: 14px 15px 0;
    margin-bottom: 40px;

    font-weight: 600;
    line-height: 1.2;

    &::before {
      content: '';

      margin-right: 15px;
      width: 25px;
      height: 19px;

      mask: url('../images/sprite.svg#burger') center / cover no-repeat;

      background-color: $dark-800;
    }
  }

  &__contacts {
    margin-bottom: 48px;
    padding: 0 15px;

    line-height: 1;
    font-style: normal;
  }

  &__contacts-list {
    margin-bottom: 24px;
  }

  &__contacts-item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__contacts-link {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: block;
      width: 24px;
      flex-shrink: 0;
      margin-right: 15px;

      background-color: $dark-800;
    }

    &--tel {
      &::before {
        height: 24px;
        
        mask: url('../images/sprite.svg#tel') center / cover no-repeat;
      }
    }

    &--location {
      &::before {
        height: 32px;

        mask: url('../images/sprite.svg#location') center / cover no-repeat;
      }
    }
  }

  &__socials {
    .socials {
      &__link {
        &::before {
          background-color: $dark-800;
        }
      }
    }
  }

  &__menu {
    padding: 0 19px;
    margin-bottom: 24px;
  }

  &__menu-item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

