.promo {
  background-color: $silver-100 ;
  &__filter-nav {
    margin-bottom: 51px;
  }

  &__catalog {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc(25% - 30px);
  }

  &__product-card {
    padding: 12px;
    margin-bottom: 24px;
  }
    
  &__btn {
    margin: 0 auto;
  }
}

