.slider {

  &__item {
    height: 600px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__box {
    position: relative;
    top: -50%;
    padding: 24px 24px;

    color: $dark-500;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;

    transform: translateY(45%);
  }

  &__title {
    max-width: 761px;

    @extend %ruda-900;
    font-size: 60px;
    line-height: 1.4;
    text-transform: uppercase;
    
    span {
      color: $red-900;
    }
  }

  &__desc {
    margin-bottom: 30px;

    font-size: 16px;
  }

  .prev,
  .next {
    padding: 14px 20px;

    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    outline: transparent;
    
    position: absolute;
    top: 50%;
    z-index: 1;

    transform: translateY(-50%);
    
    @extend %transition-2;
  }

  .prev::before,
  .next::before {
    content: '';

    display: block;
    width: 19px;
    height: 32px;
    
    background-color: $dark-500;

    @extend %transition-2;
  }

  .prev::before {
    mask: url('../images/sprite.svg#arrow-left') center / cover no-repeat;
  }

  .next::before {
    mask: url('../images/sprite.svg#arrow-right') center / cover no-repeat;
  }

  .prev {
    left: 50px;
  }
  
  .next {
    right: 50px;
  }

  .slick-disabled {
    opacity: 0.8;
    cursor: default;
    box-shadow: none;
    
  }

  .slick-arrow:focus {
    background-color: #F2F2F2;
    box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
  }

  .slick-arrow:hover {
    background-color: $green-100;
  }

  .prev:hover::before,
  .next:hover::before {
    background-color: $green-900;
  }

  .slick-arrow:active {
    background-color: #F3F3F2;
    box-shadow: none;
  }

  .prev:active::before,
  .next:active::before {
    background-color: $green-900;
  }

  .slick-disabled:hover,
  .slick-disabled:focus {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
  }
}

.advantages {
  background-color: $silver-100;

  &__items {
    display: flex;
    justify-content: center;
    padding: 48px 0 29px;
  }

  &__item {
    display: flex;
    max-width: 255px;
    width: 100%;
  }

  &__item:not(:last-child) {
    margin-right: 65px;
  }

  &__item--delivery:before,
  &__item--refund:before,
  &__item--supp:before {
    content: '';

    flex-shrink: 0;
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 24px;

    background-color: $green-900;
  }

  &__item--delivery:before {
    mask: url('../images/sprite.svg#delivery') center / cover no-repeat;
  }

  &__item--refund:before {
    mask: url('../images/sprite.svg#refund') center / cover no-repeat;
  }

  &__item--supp:before {
    mask: url('../images/sprite.svg#supp') center / cover no-repeat;
  }

  &__text {
    p:first-child {
      margin-bottom: 7px;
      font-size: 16px;
      font-weight: 700;
    }

    p {
      color: $dark-500;
    }
  }
}